configuration {
    modi: "drun,window,windowcd,ssh";
}

@import "catppuccin-mocha"

* {
    selected-active-foreground:  @background;
    lightfg:                     @text;
    separatorcolor:              @foreground;
    urgent-foreground:           @red;
    alternate-urgent-background: @lightbg;
    lightbg:                     @mantle;
    background-color:            transparent;
    border-color:                @foreground;
    normal-background:           @background;
    selected-urgent-background:  @red;
    alternate-active-background: @lightbg;
//    spacing:                     2;
    alternate-normal-foreground: @foreground;
    urgent-background:           @background;
    selected-normal-foreground:  @lightbg;
    active-foreground:           @blue;
    background:                  @base;
    selected-active-background:  @blue;
    active-background:           @background;
    selected-normal-background:  @lightfg;
    alternate-normal-background: @lightbg;
    foreground:                  @text;
    selected-urgent-foreground:  @background;
    normal-foreground:           @foreground;
    alternate-urgent-foreground: @red;
    alternate-active-foreground: @blue;
    spacing:                     0;
    font:                        "Noto Sans Mono 12";
}
//-------- Layout ---------
window {
    background-color: @background;
    border:           1px;
    border-color:     @foreground;
}
mainbox {
    padding:  10px;
    spacing:  10px;
    children: [inputbar, listview];
}
inputbar {
    padding:    0 10px;
    children:   [prompt,textbox-prompt-colon,entry,case-indicator];
}
prompt {
    enabled: true;
    text-color: @normal-foreground;
}
textbox-prompt-colon {
    expand: false;
    str: ":";
    margin: 0 1ch 0 0;
    text-color: @foreground;
}
entry {
    text-color:        @normal-foreground;
    cursor:            text;
    placeholder-color: Gray;
    placeholder:       "Search";
}
case-indicator {
    text-color: @normal-foreground;
}
// List
listview {
    lines: 6;
    margin: 0 10px;
    scrollbar:    false;
    border-color: @separatorcolor;
    border:       0;
    dynamic: true;
}
//Elements
element {
    padding: 8px ;
    margin: 2px 0;
    border-radius: 4px;
    background-color: @background;
    children: [element-icon, element-text];
}
element selected {
    background-color: @selected-normal-background;
}
element-icon {
    background-color: transparent;
    size:             2ch ;
    padding:          5px;
    cursor:           inherit;
    text-color:       inherit;
}
element-text {
    background-color: transparent;
    cursor:           inherit;
    highlight:        inherit;
    text-color:       inherit;
}
element-text selected {
    background-color: transparent;
    text-color:       @selected-normal-foreground;
}
//Messages
textbox {
    text-color: @foreground;
}
message {
    padding:          10px;
    background-color: @background;
    text-color:       @foreground;
}
scrollbar {
    width:        4px ;
    padding:      0;
    handle-width: 8px ;
    border:       0;
    handle-color: @normal-foreground;
}
